export PATH=$HOME/bin:/usr/local/bin:$PATH
realsr() {
  realsr-ncnn-vulkan -i $1 -o $1_BetterSR.png -m /Users/lucas/bin/models-DF2K_JPEG
}
realsr-exact() {
  realsr-ncnn-vulkan -i $1 -o $1_BetterSR.png -m /Users/lucas/bin/models-DF2K
}
